  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>

    <div class="chat_window">
      <div class="top_menu">
        <div class="title">
          Chat
        </div>
      </div>
      <ul class="messages"></ul>
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
          <input class="message_input" placeholder="Bir Mesaj Yazın..." />
        </div>
        <div class="send_message">
          <div class="icon"></div>
          <div class="text">
            Gönder
          </div>
        </div>
      </div>
    </div>
    <div class="message_template">
      <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text"></div>
        </div>
      </li>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script type="text/javascript">
     
    </script>

  </body>
  </html>